div#wrap { width: 1280px; padding: 0; margin: 0; height: 100%; }

nav { height: 77px; padding: 0; width: inherit; border-bottom: 1px solid rgba(0, 0, 0, 0.0975); }

nav div#logo-wrap { height: inherit; width: 1010px; margin: 0 auto; }

nav div#logo-wrap .nav-left a.logo { display: inline-block; width: 176px; height: 35px; margin-left: 40px; margin-top: 22px; }

nav div#logo-wrap .nav-center { display: inline-block; width: 220; height: 40px; align-items: center; position: relative; left: 140px; bottom: 10px; }

nav div#logo-wrap .nav-center .search { margin: 0 auto; text-align: center; }

nav div#logo-wrap .nav-right { float: right; margin-right: 35px; }

nav div#logo-wrap .nav-right a.mini-logo { margin-top: 30px; display: inline-block; width: 24px; height: 24px; margin-left: 25px; }

nav div#logo-wrap .nav-right a#compass { background-position: -200px -254px; }

nav div#logo-wrap .nav-right a#heart { background-position: -225px -254px; }

nav div#logo-wrap .nav-right a#user-info { background-position: -150px -254px; }

.search { background: #fafafa; border: solid 1px #dbdbdb; width: 215px; height: 28px; border-radius: 3px; }
