@import "variables";

.post-list-container {
  margin: 0 auto;
  width: 600px;
  article.post {
    border: 1px solid $color-border-post;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 60px;
    header.post-header {
      padding: 14px 20px;
      font-size: 14px;
      .post-delete{
        .post-delete-form{
          display: inline-block;
          float: right;
          .btn-post-delete{
            border: none;
            cursor: pointer;
            background-color: transparent;
          }
        }
      }
      .header-username {
      }
      .header-date {
        float: right;
      }
    }
    .post-image-container {
      font-size: 0;
      img.post-image {
        width: 100%;
      }
    }
    .post-bottom-container {
      padding: 24px;
      .post-content {
        margin-bottom: 5px;
      }
      .post-like-users {
        margin-bottom: 5px;
      }
      .post-comments {
        border-bottom: 1px solid $color-border-post;
        padding-bottom: 20px;

        .post-comment {
          .comment-author {
            font-weight: bold;
            margin-right: 5px;
          }
          .comment-delete{
            float: right;
            .comment-delete-form{
              display: inline-block;
              float: right;
              .btn-comment-delete{
                border: none;
                cursor: pointer;
                background-color: transparent;

              }
            }
          }
        }
      }
      .post-comment-form-container {
        padding-top: 20px;
        position: relative;
        .btn-like {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          background-color: Transparent;
          border: none;
          outline:none;
          overflow: hidden;
          float:left;

        }
        .sprite-heart-red{
          background-position: -325px -176px;
        }
        .sprite-heart-empty{
          background-position: -281px -206px;
        }

        input.input-comment {
          border: none;
          display: inline-block;
          vertical-align: top;
          position: absolute;
          width: 100%;
          left: 30px;
          height: 24px;
          box-sizing: border-box;
          background-color: transparent;
          float: left;
          outline: none;
          border: none;

        }
      }
    }
  }
  .post-add-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid $color-border;
    border-radius: 2px;
    padding: 4px 10px;
    text-decoration: none;
    color: white;
    background-color: #444;
    cursor: pointer;
  }
}

.input-comment{
  border:none;
  outline: none;
}
.btn-post-delete{
  display: inline-block;
  float: left;
}
