{% extends 'common/base.html' %}
{% block content %}
<div class="post-list-container">
  {% for post in post_list %}
<div>POST: {{ post.id }}</div><br>
  <div>By: {{ post.author.username}}</div><br>
  <div>Content:{{ post.content|linebreaks|truncatechars:30 }}</div><br>
  {% if post.like_users.all %}
  <div> Liked by:
    {% for like_user in post.like_users.all %}
    <p>{{ like_user }}</p>
    {% endfor %}
  </div><br>
  {% endif %}
  <div><a href="{% url 'post:post-detail' post.id %}"><img src="{{ MEDIA_URL }}{{ post.photo }}"></a></div><br>
  {% if post.comment_set.all %}
  {% for comment in post.comment_set.all %}
  <div style="color:salmon">{{ comment.author.username }}: {{ comment.content }}</div>
  {% endfor %}
  {% endif %}
  <!--<form action="{% url 'post:comment_add' post_id=post.id %}" method="POST">{% csrf_token %}-->


  <!--<input type="text" , name="content">-->

  <!--<button type="submit">Write Comment</button>-->
  <!--</form>-->

  {% endfor %}
</div>
{% endblock %}
