{% extends 'common/base.html' %}

{% block content %}
<div class="post-list-container">
    {% for post in post_list %}
    <article class="post">
        <header class="post-header">
            <span class="header-username">{{ post.author.username }}</span>
            <span class="header-date">{{ post.created_date }}</span>
            {% if user == post.author %}
            <span class="post-delete clearfix">
        <form class="post-delete-form" action="{% url 'post:post_delete' post_id=post.id %}" method="POST">
          {% csrf_token %}
          <button class="btn-post-delete" type="submit">X</button>
        </form>
      </span>
            {% endif %}
        </header>
        <div class="post-image-container">
            <a href="{% url 'post:post-detail' post.id %}">
                <img src="{{ MEDIA_URL }}{{ post.photo }}" class="post-image">
            </a>
        </div>
        <div class="post-bottom-container">
            <div class="post-content">{{ post.content|linebreaks|truncatechars:30 }}</div>
            <div class="post-like-users">
                {% if post.like_users.all %}
                {{ post.like_count }} Likes
                {% for user in post.like_users.all %}
                {{ user.username }}
                {% endfor %}
                {% endif %}
            </div>
            <div class="post-like-users">

            </div>
            <div class="post-comments">
                {% if post.comment_set.all %}
                {% for comment in post.comment_set.all %}

                <div class="post-comment">
                    <span class="comment-author">{{ comment.author.username }}</span>
                    <span class="comment-content">{{ comment.content }}</span>
                    {% if user == comment.author %}
                    <span class="comment-delete">
            <form class="comment-delete-form"
                  action="{% url 'post:comment_delete' post_id=post.id comment_id=comment.id %}" method="POST">
            {% csrf_token %}
            <button class="btn-comment-delete" type="submit">X</button>
          </form>
        </span>
                    {% endif %}

                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="post-comment-form-container clearfix">
                <form action="{% url 'post:post_like_toggle' post_id=post.id %}" method="POST">
                    {% csrf_token %}
                    {% if user in post.like_users.all %}
                    <button href="" class="btn-like sprite-heart-red sprite-logo" type="submit"></button>
                    {% else %}
                    <button href="" class="btn-like sprite-heart-empty sprite-logo" type="submit"></button>
                    {% endif %}
                </form>
            </div>
            <form action="{% url 'post:comment_add' post_id=post.id %}" method="POST">{% csrf_token %}
                <input type="text" placeholder="댓글 달기..." class="input-comment" name="content">
            </form>
        </div>
    </article>
    {% endfor %}
    <a href="{% url 'post:post-add' %}">
        <button class="post-add-btn">ADD POST</button>
    </a>
</div>

{% endblock %}
